<!--被投诉人详情-->
<div class="layui-timeline-content layui-text">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>被投诉人详情</legend>
    </fieldset>
    <table class="layui-table">
        <thead>
        <tr>
            <th style="text-align: center;">被投诉人</th>
            <th style="text-align: center;">账号</th>
            <th style="text-align: center;">身份</th>
        </tr>
        </thead>
        <tbody>
        <td style="text-align: center;">{$info.complaint.realname}</td>
        <td style="text-align: center;">{$info.complaint.account}</td>
        <td style="text-align: center;">{$info.complaint.rolename}</td>
        </tbody>
    </table>
</div>
