{// 模板继承 }
{extend name="$viewbasetpl" /}


{// 页面异步提交成功之后 }
{block name="foot"}
<script>
    layui.use(['form', 'layedit', 'laydate','upload'], function() {
        var form = layui.form(),
                layer = layui.layer,
                laydate = layui.laydate;
        var $ = layui.jquery;
        $(":input[name=content ]").attr('readonly',true);
        $(":input[name=content ]").mouseenter(function(){
            var conle = $(":input[name=content ]").val();
            window.clipboardData.setData('text',conle);//IE才行
            layer.msg("已复制,ctrl+v即可");
        });
        $(":button").hide();
    });
</script>
{/block}
