<li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
        <h3 class="layui-timeline-title">基本资料
        </h3>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <td style="text-align: center;" class="layui-bg-gray" width="25%">账户名：</td>
                    <td style="text-align: center;">
                        {$factory_list.account}
                    </td>
                    <td style="text-align: center;" class="layui-bg-gray" width="20%">企业名称：</td>
                    <td style="text-align: center;">
                        <if condition="isset($factory_list.company) &&  $factory_list.company neq ''">
                            {$factory_list.company}
                            <else />
                            \
                        </if>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" class="layui-bg-gray" width="25%">账户状态：</td>
                    <td style="text-align: center;">
                        {switch name="factory_list.user_status" }
                        {case value="1" }通过{/case}
                        {case value="2"}未通过{/case}
                        {default /}未审核
                        {/switch}
                    </td>
                    <td style="text-align: center;" class="layui-bg-gray" width="20%">负责人名称：</td>
                    <td style="text-align: center;">
                        <if condition="isset($factory_list.management) && $factory_list.management neq ''">
                            {$factory_list.management}
                            <else />
                            \
                        </if>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" class="layui-bg-gray" width="25%">真实姓名/法人姓名：</td>
                    <td style="text-align: center;">
                        <if condition="$factory_list.realname neq '' && isset($factory_list.realname)">
                            {$factory_list.realname}
                            <else />
                            \
                        </if>
                    </td>
                    <td style="text-align: center;" class="layui-bg-gray" width="20%">详细地址：</td>
                    <td style="text-align: center;">
                        <if condition="$factory_list.address neq '' && isset($factory_list.address)">
                            {$factory_list.address}
                            <else />
                            \
                        </if>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" class="layui-bg-gray" width="25%">注册时间：</td>
                    <td style="text-align: center;">
                        {$factory_list.register_time}
                    </td>
                    <td style="text-align: center;" class="layui-bg-gray" width="20%">最近登录时间：</td>
                    <td style="text-align: center;">
                        <?php
                                if($factory_list['lastlogin_time'] == '1970-01-01 08:00:00'){
                                    echo ' \ ';
                                }else{
                                    echo $factory_list['lastlogin_time'];
                                }
                            ?>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</li>
