<li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
        <h3 class="layui-timeline-title">账户信息
        </h3>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td><span class="one sp_color">可用金额：</span><span class="two">{$factory_list.balance}</span></td>
                        <td><span class="one sp_color">冻结金额：</span><span class="two">{$factory_list.freeze_money}</span></td>
                        <td><span class="one sp_color">保证金金额：</span><span class="two">{$factory_list.bond_money}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</li>
