<!-- 服务项目 -->
<li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
        <h3 class="layui-timeline-title">服务项目
            {if condition="isset($pageType) && $pageType == 0"}
                <button class="layui-btn layui-btn-primary layui-btn-mini editInfo"
                        request-url="{:url('punishService',['uid'=>$userInfo['baseInfo']['id']])}"
                        title="修改">
                    <i class="layui-icon"></i>
                </button>
            {/if}
        </h3>
        <table class="layui-table">
            <thead>
            <tr>
                <th>服务项目</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center;" >
                    {volist name="$userInfo['service']" id="vo"}
                    <div class="layui-form-checkbox {$vo.isCheck?='layui-form-checked'}" lay-skin="primary">
                        <span>{$vo.punish_content}</span><i class="layui-icon"></i>
                    </div>
                    {/volist}
                </td>
            </tr>
            </tbody>
        </table>

        {notempty name="$userInfo['punishRecord']"}
        <table class="layui-table">
            <thead>
            <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">处罚人</th>
                <th style="text-align: center;">处罚对象</th>
                <th style="text-align: center;">处罚项目</th>
                <th style="text-align: center;">开始时间</th>
                <th style="text-align: center;">结束时间</th>
                <th style="text-align: center;">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$userInfo['punishRecord']" id="vo"}
            <tr>
                <td style="text-align: center;" >{$vo.id}</td>
                <td style="text-align: center;" >{$vo.name}</td>
                <td style="text-align: center;" >{$vo.realname}</td>
                <td style="text-align: center;" >{$vo.punish_content}</td>
                <td style="text-align: center;" >{$vo.start_time}</td>
                <td style="text-align: center;" >{$vo.end_time}</td>
                <td style="text-align: center;" >
                    <button class="layui-btn layui-btn-mini  layui-btn-danger delete"
                            request-url="{:url('delPunishService')}"
                            pid="{$vo.id}">
                        删除
                    </button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {/notempty}

    </div>
</li>
